ol {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  li button {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
  }
  li button:hover {
    background-color: lightgray;
  }
  li button#RED {
    background-color: red;
  }
  li button#GREEN {
    background-color: green;
  }
  li button#BLUE {
    background-color: blue;
  }
  li button#YELLOW {
    background-color: yellow;
  }
  li button#PURPULE {
    background-color: purple;
  }
  li button#ORANGE {
    background-color: orange;
  }
  li button#WHITE {
    background-color: white;
  }
  li button#BLACK {
    background-color: black;
    color: white;
  }
  li button#BROWN {
    background-color: brown;
  }
  li button#GRAY {
    background-color: gray;
  }
  li button#PINK {
    background-color: pink;
  }
  li button#INDIGO {
    padding: 15px 60px;
    background-color: indigo;
    color: aliceblue;
  }
  